@import "common";

.calendar-container {
    flex: 1;
    overflow: auto;
    .calendar-title {
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        background-color: white;
        padding: 2vh 3vw;
        text-transform: uppercase;
        box-shadow: 0 2vh 2vh 1vh white;
        margin-bottom: 3vh;
        .calendar-title-room {
            color: gray;
            font-size: 1vw;
            font-weight: 400;
        }
        .calendar-title-today {
            font-size: 2vw;
            font-weight: 900;
        }
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}