@import "common";

.reservation-calendar {
    padding-right: 5%;
    position: relative;
    .calendar-tracker {
        border-top: 3px solid $yellow;
        position: absolute;
        top: 0vh;
        left: 5vw;
        width: 26vw;
        z-index: -1;
        .calendar-tracker-ball {
            width: min(1vh, 1vw);
            height: min(1vh, 1vw);
            top: calc(-1px - min(0.5vh, 0.5vw));
            left: calc(0px - min(0.5vh, 0.5vw));
            position: relative;
            background-color: $yellow;
            border-radius: 10vw;
        }
    }
    .time-column {
        width: 5vw;
        height: 6vh;
        vertical-align: text-top;
        text-align: center;
        font-size: 1.25vh;
        font-weight: 900;
    }
    .event-column {
        vertical-align: top;
        &.empty {
            box-shadow: 0 -3px 2px -2px lightgray;
        }
        .calendar-item {
            box-shadow: 0 0 3px lightgrey;
            padding: 1.5vh 2vw;
            border-left: $yellow 0.75vw solid;
            cursor: pointer;
            &-title {
                font-size: 2vh;
                font-weight: 700;
            }
            &-organizer {
                font-size: 1.2vh;
                line-height: 2vh;
                color: gray;
                text-transform: uppercase;
            }
        }
    }
}