@import "common";

.reservation {
    .reservation-text-block {
        padding: 2vh 1.5vw;
        &:nth-child(2) {
            padding-top: 2.5vh;
        }
        &:nth-child(n+3) {
            border-top: #f3f3f3 1px solid;
        }
        &.reserve-back-button {
            background-color: $yellow;
            cursor: pointer;
            padding-top: 2.5vh;
            padding-bottom: 2.5vh;
            border: none;
        }
        .reservation-title,
        .reservation-text,
        .reservation-description {
            line-height: 3vh;
            font-weight: 700;
            color: #3d3d3d;
            display: inline-block;
            &.reservation-title {
                font-size: 1.75vh;
            }
        }
        .reservation-text {
            font-size: 1.5vh;
            font-weight: 700;
        }
        .reservation-title {
            font-size: 1.75vh;
            font-weight: 700;
        }
        .reservation-description {
            line-height: 1.25vh;
            font-size: 1.25vh;
            color: black;
            font-weight: 400;
            padding-left: 4vw;
            display: block;
        }
        .icon {
            width: 3vw;
            height: 3vh;
            margin-right: 1vw;
            background-size: min(3vh, 3vw);
            background-repeat: no-repeat;
            background-position: center;
            float: left;
            &.time-icon {
                background-image: url('../icons/time.png');
            }
            &.person-icon {
                background-image: url('../icons/person.png');
            }
            &.description-icon {
                background-image: url('../icons/description.png');
            }
            &.back-icon {
                background-image: url('../icons/chevron-left.svg');
            }
        }
        &.reservation-participants {
            cursor: pointer;
            .reservation-text {
                width: calc(80% - 4vw);
            }
            .reservation-participants-icon {
                float: right;
                margin-right: 0;
                background-image: url('../icons/chevron-down.svg');
            }
            .reservation-participants-open {
                transform: rotate(180deg);
            }
        }
    }
    .participants-container {
        padding-left: 4vw;
        border-top: #f3f3f3 1px solid;
        padding-top: 1vh;
        padding-bottom: 1vh;
        .participant-row {
            text-transform: uppercase;
            overflow: hidden;
            padding-top: 1vh;
            padding-bottom: 1vh;
            .icon {
                border-radius: 50px;
                background-color: #eeeeee;
                height: min(4vh, 3.5vw);
                width: min(4vh, 3.5vw);
                margin-right: 1vw;
                float: left;
                top: -0.5vh;
                position: relative;
            }
            .participant-name {
                font-size: 1.25vh;
                font-weight: 700;
            }
            .participant-title {
                font-size: 1vh;
                color: gray;
                font-weight: 700;
            }
        }

    }
}