.title-wrapper {
    text-transform: uppercase;
    .ongoing-text {
        font-size: 2vh;
        font-weight: 300;
        color:lightgray;
    }
    .ongoing-title {
        font-size: 6vh;
        font-weight: 900;
    }
    .ongoing-organizer, .ongoing-time {
        font-size: 1.5vh;
        font-weight: 300;
        color:lightgray;
    }
}