.upcoming-wrapper {
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-evenly;
    .upcoming-item {
        padding: 6vh;
        display: inline-block;
        &-time {
            color: lightgray;
        }
        &-title {
            font-weight: 700;
            font-size: 1.3rem;
            padding:0.5rem;
        }
        &-organizer {
            color: darkgray;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}