.upcoming-wrapper {
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-evenly;
    .upcoming-item {
        padding: 6vh 1vw;
        display: inline-block;
        &-time {
            color: lightgray;
            font-size: 1vw;
        }
        &-title {
            font-weight: 700;
            font-size: 1.5vw;
            padding: 0.5vh 0;
        }
        &-organizer {
            color: darkgray;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1vw;
        }
    }
}